*.d
*.o
*.obj
*.lo
*.slo
main
*.lai
*.la
*.a
*.lib
*.so
*.dylib
*.dll
*.gch
*.pch
*.exe
*.out
*.app
*.swp
**/build/
deps/gaussj.cpp
deps/ludcmp.cpp
deps/nrutil.cpp
deps/nrutil.h
deps/pythag.cpp
deps/tqli.cpp
deps/tred2.cpp

